.trashButton{
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem ;
  border-radius: 0.125rem;
}

.trash{
  box-sizing: content-box;
  height: 24px;
  width: 24px;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trash:hover{
  background: var(--gray-400);
  color: var(--red-500);
  border-radius: 0.5rem;
  cursor: pointer;
}