.content{
  width: 50%;
  margin: 0 auto;
}

.formTasks{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.counterTasks{
  display: flex;
  justify-content: space-between;
}

.createdTasks{
  font-weight: bold;
  color: var(--blue-300);
  font-size: 0.875rem;
  display: flex;
  gap: 0.5rem ;
  justify-content: center;
  align-items: center;
}

.concluedTasks{
  font-weight: bold;
  color: var(--purple-300);
  font-size: 0.875rem;
  display: flex;
  gap: 0.5rem ;
  justify-content: center;
  align-items: center;
}

.tasks{
  display: flex;
  flex-direction: column;
  gap: 1rem ;
}