.inputCheck{
  appearance: none;
  width: 1.1em;
  height: 1.1rem;
  background: transparent;
  border-radius: 50%;
  border: 0.125rem solid var(--blue-300);
  outline: none;
  cursor: pointer;
}

.inputCheck:hover{
  border: 0.125rem solid var(--blue-500);
  background: rgba(30, 111, 159, 0.2);
}

.inputCheck:checked {
  border: none;
  background: var(--purple-500);
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputCheck:checked:hover {
  background: var(--purple-300);
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}